<a routerLink="/article" [state]="article">
    <div class="image-container">
        <img
            id="image"
            [src]="article.urlToImage | imagePlaceholder"
            alt=""
            class="image"
        />
    </div>
</a>

<div class="main">
    <div class="header">
        <a [href]="article.url | urlOrigin" target="_blank" class="source">
            {{ article.source.name }}
        </a>
        <time class="time">{{ article.publishedAt | date }}</time>
    </div>
    <a routerLink="/article" [state]="article" id="title" class="link">
        <p class="title">{{ article.title }}</p>
    </a>
    <p class="description">{{ article.description }}</p>
</div>
