:host {
    width: 100%;
}

.image {
    width: 100%;
    object-fit: cover;
    transition: 300ms ease-in-out;
    height: 200px;

    &:hover {
        transform: scale(1.3);
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.source {
    font-weight: 400;
    margin-right: 10px;
}

.time {
    font-weight: 300;
}

.source,
.time {
    font-size: 13px;
    text-transform: uppercase;
}

.title {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main {
    width: 90%;
    background-color: #ffffff;
    position: relative;
    top: -30px;
    padding: 30px;
}

.description {
    height: 80px;
    overflow: hidden;
}

.image-container {
    overflow: hidden;
}

.source,
.link {
    text-decoration: none;
    color: inherit;
}
