<div class="content">
    <article *ngIf="article$ | async as article">
        <img
            [src]="article.urlToImage | imagePlaceholder"
            alt=""
            class="image"
        />

        <section class="article">
            <ul class="metadata">
                <li class="metadata-text">{{ article.source.name }}</li>
                <li *ngIf="article.author" class="metadata-text">
                    {{ article.author | authorName }}
                </li>
                <li class="metadata-text">{{ article.publishedAt | date }}</li>
                <li class="metadata-text metadata-text--highlited">
                    <ng-container
                        *ngTemplateOutlet="commentsPluralForm"
                    ></ng-container>
                </li>
            </ul>

            <div class="main">
                <h1 class="title">
                    <a [href]="article.url" target="_blank" class="title-link">
                        {{ article.title }}
                    </a>
                </h1>
                <p>{{ article?.description }}</p>
                <p>{{ article?.content }}</p>
                <a
                    [href]="article.url"
                    target="_blank"
                    mat-flat-button
                    isRoundButton
                    color="accent"
                    class="read-more-button"
                >
                    Read more
                </a>
            </div>
        </section>

        <section class="comments">
            <ng-container *ngIf="comments.length; else noComments">
                <p class="comments-title">
                    <ng-container
                        *ngTemplateOutlet="commentsPluralForm"
                    ></ng-container>
                </p>

                <app-comment
                    *ngFor="let comment of comments"
                    [comment]="comment"
                ></app-comment>
            </ng-container>
            <ng-template #noComments>
                <p class="no-comments-info">No comments yet</p>
            </ng-template>
        </section>
    </article>
</div>

<ng-template #commentsPluralForm>
    <ng-container [ngPlural]="comments.length">
        <ng-template ngPluralCase="=0">No comments</ng-template>
        <ng-template ngPluralCase="=1">
            {{ comments.length }} Comment
        </ng-template>
        <ng-template ngPluralCase="other">
            {{ comments.length }} Comments
        </ng-template>
    </ng-container>
</ng-template>
