@import "variables";

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.article {
    display: flex;
    flex-direction: column;
}

.metadata {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
}

.metadata-text {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin-right: 10px;

    &--highlited {
        color: $primary-color;
    }
}

.main {
    background: #ffffff;
    padding: 0 20px;
}

.title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 20px;
}

.title-link {
    color: inherit;
    transition: color 300ms ease;

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
}

.read-more-button {
    display: block;
    border-radius: 25px;
    margin: 30px auto 30px;
    background-color: $primary-color;
    width: fit-content;
    text-decoration: none;
}

.comments {
    padding: 15px 15px 80px;
}

.comments-title {
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    line-height: 1;
}

.no-comments-info {
    text-align: center;
    font-weight: 400;
}

@media screen and (min-width: 992px) {
    .image {
        height: 500px;
    }

    .article {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .metadata {
        padding: 50px 30px;
        flex-direction: column;
    }

    .metadata-text {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .main {
        padding: 50px;
        position: relative;
        top: -50px;
    }

    .comments {
        padding: 20px 20px 80px;
    }

    .read-more-button {
        margin: 30px auto 0;
    }
}
