.news-app-menu {
    margin-right: 10px;
}

.news-app-icon {
    padding: 0 14px;
}

.news-app-spacer {
    flex: 1 1 auto;
}

.news-app-toolbar {
    z-index: 1;
    position: sticky;
    top: 0;
}

.router-outlet-container {
    position: relative;
}
