$gap-width: 20px;

@mixin grid-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: $gap-width;

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        padding: $gap-width;
    }
}

.list,
.search {
    @include grid-layout();
}

.search {
    padding: $gap-width $gap-width 0;
}

.search-progress {
    position: absolute;
    bottom: -1px;
    z-index: 1;
    height: 2px;
}

.no-results-info {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 20px;
}

.loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
}
