<div class="content">
    <mat-form-field color="accent" class="search">
        <mat-label>Search</mat-label>
        <input matInput type="search" [formControl]="searchCtrl" />
        <mat-progress-bar
            color="accent"
            *ngIf="loading"
            mode="indeterminate"
            class="search-progress"
        ></mat-progress-bar>
    </mat-form-field>

    <ng-container *ngIf="!error; else errorTemplate">
        <ng-container *ngIf="articles.length; else noResults">
            <div class="list">
                <app-news-item
                    *ngFor="let article of articles"
                    [article]="article"
                ></app-news-item>
            </div>
        </ng-container>
        <ng-template #noResults>
            <p *ngIf="!loading && searchCtrl.value" class="no-results-info">
                No articles found for "{{ searchCtrl.value }}"
            </p>
        </ng-template>
    </ng-container>
    <ng-template #errorTemplate>
        <p class="no-results-info">Ups! An error occured</p>
    </ng-template>
</div>
