@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    background-color: #fafafa;
}

.content {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    min-height: calc(100vh - 65px);

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
