<div *ngIf="comment" class="comment-container">
    <img [src]="comment.avatar" alt="" class="avatar" />
    <div>
        <div class="header">
            <p class="author">{{ comment.name }}</p>
            <time class="date">{{ comment.date | date }}</time>
        </div>
        <p class="comment">{{ comment.comment }}</p>
    </div>
</div>
