$avatar-width: 80px;

.comment-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding: 30px 0 20px;
}

.author,
.date,
.comment {
    margin: 0;
}

.date {
    margin-right: 20px;
}

.avatar {
    width: $avatar-width;
    border-radius: $avatar-width;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.author {
    font-weight: 400;
}
